<?xml version="1.0" encoding="utf-8"?>
<!-- Copy paste the <toolbox> before the closing </toolboxes> in your original ToolboxesConfig.config -->
<toolbox name="PageLayouts">
  <sections>
    <add enabled="True" title="Bootstrap 2.3" description="Twitter Bootstrap v2.3 compatible layout regions" name="Bootstrap2">
      <tools>
        <add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB 100%" description="1 Column (span12)" cssClass="sfL100" layoutTemplate="~/LayoutControls/twbs2/twbs2_1col_span12.ascx" visibilityMode="None" name="twbs2_1col_span12" />
        <add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB 33% + 67%" description="2 Columns (span4 + span8)" cssClass="sfL33_67" layoutTemplate="~/LayoutControls/twbs2/twbs2_2col_span4-8.ascx" visibilityMode="None" name="twbs2_2col_span4-8" />
        <add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB 50% + 50%" description="2 Columns (span6 + span6)" cssClass="sfL50_50" layoutTemplate="~/LayoutControls/twbs2/twbs2_2col_span6-6.ascx" visibilityMode="None" name="twbs2_2col_span6-6" />
        <add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB 67% + 33%" description="2 Columns (span8 + span4)" cssClass="sfL67_33" layoutTemplate="~/LayoutControls/twbs2/twbs2_2col_span8-4.ascx" visibilityMode="None" name="twbs2_2col_span8-4" />
        <add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB 33% + 33% + 33%" description="3 Columns (span4 + span4 + span4)" cssClass="sfL33_34_33" layoutTemplate="~/LayoutControls/twbs2/twbs2_3col_span4-4-4.ascx" visibilityMode="None" name="twbs2_3col_span4-4-4" />
        <add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB 25% + 50% + 25%" description="3 Columns (span3 + span6 + span3)" cssClass="sfL25_50_25" layoutTemplate="~/LayoutControls/twbs2/twbs2_3col_span3-6-3.ascx" visibilityMode="None" name="twbs2_3col_span3-6-3" />
        <add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB  4x 25%" description="4 Columns (span3 + span3 + span3 + span3)" cssClass="sfL25_25_25_25" layoutTemplate="~/LayoutControls/twbs2/twbs2_4col_span3-3-3-3.ascx" visibilityMode="None" name="twbs2_4col_span3-3-3-3" />
      </tools>
    </add>
    <add enabled="True" title="Bootstrap 3.0" description="Twitter Bootstrap v3.0 compatible layout regions" name="Bootstrap3">
      <tools>
        <add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB 100%" description="1 Column (col-12)" cssClass="sfL100" layoutTemplate="~/LayoutControls/twbs3/twbs3_1col_col12.ascx" visibilityMode="None" name="twbs3_1col_col12" />
        <add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB 33% + 67%" description="2 Columns (col-4 + col-8)" cssClass="sfL33_67" layoutTemplate="~/LayoutControls/twbs3/twbs3_2col_col4-8.ascx" visibilityMode="None" name="twbs3_2col_col4-8" />
        <add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB 50% + 50%" description="2 Columns (col-6 + col-6)" cssClass="sfL50_50" layoutTemplate="~/LayoutControls/twbs3/twbs3_2col_col6-6.ascx" visibilityMode="None" name="twbs3_2col_col6-6" />
        <add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB 67% + 33%" description="2 Columns (col-8 + col-4)" cssClass="sfL67_33" layoutTemplate="~/LayoutControls/twbs3/twbs3_2col_col8-4.ascx" visibilityMode="None" name="twbs3_2col_col8-4" />
        <add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB 33% + 33% + 33%" description="3 Columns (col-4 + col-4 + col-4)" cssClass="sfL33_34_33" layoutTemplate="~/LayoutControls/twbs3/twbs3_3col_col4-4-4.ascx" visibilityMode="None" name="twbs3_3col_col4-4-4" />
        <add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB 33% + 33% + 33%" description="3 Columns (col-3 + col-6 + col-3)" cssClass="sfL25_50_25" layoutTemplate="~/LayoutControls/twbs3/twbs3_3col_col3-6-3.ascx" visibilityMode="None" name="twbs3_3col_col3-6-3" />
        <add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB 4x 25% " description="4 Columns (col-3 + col-3 + col-3 + col-3)" cssClass="sfL25_25_25_25" layoutTemplate="~/LayoutControls/twbs3/twbs3_4col_col3-3-3-3.ascx" visibilityMode="None" name="twbs3_4col_col3-3-3-3" />
        <add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB (2 + 2) + 67%" description="3 Columns ((col-2 + col-2) + col-8)" cssClass="sfL33_67" layoutTemplate="~/LayoutControls/twbs3/twbs3_3col_colN2-N2-8.ascx" visibilityMode="None" name="twbs3_3col_colN2-N2-8" />
        <add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB (2 + 2) + 2x 25%" description="4 Columns ((col-2 + col-2) + col-4 + col-4)" cssClass="sfL33_34_33" layoutTemplate="~/LayoutControls/twbs3/twbs3_4col_colN2-N2-4-4.ascx" visibilityMode="None" name="twbs3_4col_colN2-N2-4-4" />
      </tools>
    </add>
  </sections>
</toolbox>
