/*!
 * ============================================================================ 
 * SF|Boilerplated based on H5BP v4.3.0 | sfnormalize.less
 * ============================================================================ 
 */
/* #region less variables and mixins */
/*  -----------------------------------------------------------------------*/
/*  ------------------------------------------------------------------------*/
/* #endregion */
/*  ------------------------------------------------------------------------*/
/* #region normalize v1.1.3  */
/*  ------------------------------------------------------------------------*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
[hidden] {
  display: none;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}
body,
figure,
form {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
p,
pre {
  margin: 1em 0;
}
pre {
  white-space: pre-wrap;
  white-space: pre;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
legend {
  *margin-left: -7px;
  padding: 0;
  border: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  font-size: 100%;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  *overflow: visible;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
/*  ------------------------------------------------------------------------*/
/* #endregion */
/*  ------------------------------------------------------------------------*/
/* #region typography and color defaults */
/*  ------------------------------------------------------------------------*/
html,
button,
input,
select,
textarea {
  color: #222222;
  font-family: sans-serif;
}
mark {
  background: #ffff00;
  color: #000000;
}
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/*  ------------------------------------------------------------------------*/
body {
  font-size: 1em;
  line-height: 1.4em;
}
code,
kbd,
pre,
samp {
  font-size: 1em;
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
}
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}
h2 {
  margin: 0.83em 0;
  font-size: 1.5em;
}
h3 {
  margin: 1em 0;
  font-size: 1.17em;
}
h4 {
  margin: 1.33em 0;
  font-size: 1em;
}
h5 {
  margin: 1.67em 0;
  font-size: 0.83em;
}
h6 {
  margin: 2.33em 0;
  font-size: 0.67em;
}
/*  ------------------------------------------------------------------------*/
/* #endregion */
/*  ------------------------------------------------------------------------*/
/* #region sitefinity grid styles */
/*  ------------------------------------------------------------------------*/
.sf_cols {
  margin: 0;
  padding: 0;
  width: 100%;
  -ms-zoom: 1;
  zoom: 1;
}
.sf_cols:before,
.sf_cols:after {
  display: table;
  content: "";
}
.sf_cols:after {
  clear: both;
}
.sf_colsOut + .sf_colsOut {
  *margin-left: -1px !important;
}
.sf_block {
  display: block;
}
.sf_1col_1_100 {
  float: none;
  margin: 0;
}
.sf_5cols_1_20,
.sf_5cols_2_20,
.sf_5cols_3_20,
.sf_5cols_4_20,
.sf_5cols_5_20 {
  float: left;
  margin: 0;
  width: 20%;
}
.sf_2cols_1_25,
.sf_3cols_1_25,
.sf_4cols_1_25,
.sf_4cols_2_25,
.sf_4cols_3_25,
.sf_4cols_4_25,
.sf_3cols_3_25 {
  float: left;
  margin: 0;
  width: 25%;
}
.sf_2cols_2_25 {
  float: right;
  margin: 0;
  width: 25%;
}
.sf_3cols_1_33,
.sf_3cols_3_33,
.sf_2cols_1_33 {
  float: left;
  margin: 0;
  width: 33%;
}
.sf_2cols_2_33 {
  float: right;
  margin: 0;
  width: 33%;
}
.sf_3cols_2_34 {
  float: left;
  margin: 0;
  width: 34%;
}
.sf_3cols_2_50,
.sf_2cols_1_50 {
  float: left;
  margin: 0;
  width: 50%;
}
.sf_2cols_2_50 {
  float: right;
  margin: 0;
  width: 50%;
}
.sf_2cols_1_67 {
  float: left;
  margin: 0;
  width: 67%;
}
.sf_2cols_2_67 {
  float: right;
  margin: 0;
  width: 67%;
}
.sf_2cols_1_75 {
  float: left;
  margin: 0;
  width: 75%;
}
.sf_2cols_2_75 {
  float: right;
  margin: 0;
  width: 75%;
}
.sf_2cols_2_75 .sf_2cols_2in_75,
.sf_2cols_2_67 .sf_2cols_2in_67,
.sf_2cols_2_50 .sf_2cols_2in_50,
.sf_2cols_2_33 .sf_2cols_2in_33,
.sf_2cols_2_25 .sf_2cols_2in_25,
.sf_3cols_2_34 .sf_3cols_2in_34,
.sf_3cols_3_33 .sf_3cols_3in_33,
.sf_3cols_2_50 .sf_3cols_2in_50,
.sf_3cols_3_25 .sf_3cols_3in_25,
.sf_4cols_2_25 .sf_4cols_2in_25,
.sf_4cols_3_25 .sf_4cols_3in_25,
.sf_4cols_4_25 .sf_4cols_4in_25,
.sf_5cols_2_20 .sf_5cols_2in_20,
.sf_5cols_3_20 .sf_5cols_3in_20,
.sf_5cols_4_20 .sf_5cols_4in_20,
.sf_5cols_5_20 .sf_5cols_5in_20 {
  margin-left: 12px;
}
.sf_3cols_3_25,
.sf_3cols_3_33,
.sf_4cols_4_25,
.sf_5cols_5_20 {
  _margin-left: -1px !important;
}
/*  ------------------------------------------------------------------------*/
/* #endregion */
/*  ------------------------------------------------------------------------*/
/* #region sitefinity and helper styles */
/*  ------------------------------------------------------------------------*/
body.standard.sfPageEditor.zeContentMode div#ScriptWrapper {
  display: block;
  background: #ffff00;
  text-align: center;
  font-size: small;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
body.standard.sfPageEditor.zeContentMode div#ScriptWrapper:before {
  content: "-- ONLY PLACE STYLE WIDGETS AND SCRIPT WIDGETS BELOW THIS AREA --";
}
.ScriptWrapper,
.sfDisplayNone {
  display: none;
}
.sfimageWrp {
  overflow-x: hidden;
}
.sfimageWrp img,
.sfContentBlock img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.chromeframe {
  margin: 0.2em 0;
  padding: 0.2em 0;
  background: #cccccc;
  color: #000000;
}
.sfLbl {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.sfClearfix:before,
.sfClearfix:after,
.sfprofileArticleLikeWrp:before,
.sfprofileArticleLikeWrp:after,
.sfprofileListLikeWrp:before,
.sfprofileListLikeWrp:after {
  display: table;
  content: "";
}
.sfClearfix:after,
.sfprofileArticleLikeWrp:after,
.sfprofileListLikeWrp:after {
  clear: both;
}
.sfClearfix,
.sfprofileArticleLikeWrp,
.sfprofileListLikeWrp {
  -ms-zoom: 1;
  zoom: 1;
}
.sfDisplayNone {
  display: none;
}
.ir {
  overflow: hidden;
  border: 0;
  background-color: transparent;
  *text-indent: -9999px;
}
.ir:before {
  display: block;
  width: 0;
  height: 150%;
  content: "";
}
.left {
  float: left;
}
.right {
  float: right;
}
.visible {
  visibility: visible;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  overflow: visible;
  clip: auto;
  margin: 0;
  width: auto;
  height: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.browsehappy {
  margin: 0.2em 0;
  padding: 0.2em 0;
  background: #cccccc;
  color: #000000;
}
/*  ------------------------------------------------------------------------*/
/* #endregion */
/*  ------------------------------------------------------------------------*/
/*  ------------------------------------------------------------------------*/
@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: #000000 !important;
    -webkit-text-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    /* h5bp.com/t */
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .sfPublicWrapper {
    width: auto;
  }
  .sfPageBrowseAndEditToolbarWrp,
  .sfPrintBtn {
    display: none;
  }
}
/*  ------------------------------------------------------------------------*/
