/*!
 * ============================================================================ 
 * SF|Boilerplated based on H5BP v3.0.2 | sfnormalize.yui.less
 * ============================================================================ 
 */
/*#region LESS variables */
/* ============================================================================ */
/* ============================================================================ */

/*#endregion */

/*#region Normalize */

/* ============================================================================ */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  color: #222222;
  font-family: Sans-serif;
}
body {
  font-size: 16px;
  font-size: 1em;
  line-height: 24px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
figure,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
a,
a:hover,
a:visited {
  color: #105cb6;
}
a:hover,
a:active,
a:focus {
  color: #065bc0;
}
a:active {
  outline: 0;
}
a:focus {
  outline: thin dotted;
}
a:hover,
abbr[title] {
  border-bottom: 1px dotted;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]),
[hidden] {
  display: none;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
button,
input {
  line-height: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
input[disabled] {
  cursor: default;
}
dd {
  margin: 0 0 0 40px;
}
dfn {
  font-style: italic;
}
figure {
  border: 0;
}
ins {
  background: #ffff99;
  color: #222222;
  text-decoration: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
hr {
  border: 0px;
  border-top: 1px solid #cccccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}
mark {
  background: yellow;
  color: #222222;
  font-style: italic;
  font-weight: bold;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
svg:not(:root) {
  overflow: hidden;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}
::selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}
.chromeframe {
  background: #cccccc;
  color: #222222;
  margin: 0.2em 0;
  padding: 0.2em 0;
}
/* ============================================================================ */

/*#endregion */

/*#region Sitefinity normalize */

/* ============================================================================ */

body.sfPageEditor {
  background: white;
}
body.standard.sfPageEditor.zeContentMode div#ScriptWrapper {
  background: #ffff99;
  display: block;
  opacity: 0.4;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.ScriptWrapper,
.sfDisplayNone {
  display: none;
}
.sf_1col_1_100 {
  float: none;
  margin: 0;
}
.sf_2cols_1_25,
.sf_3cols_1_25,
.sf_3cols_3_25,
.sf_2cols_2_25,
.sf_4cols_1_25,
.sf_4cols_2_25,
.sf_4cols_3_25,
.sf_4cols_4_25 {
  float: left;
  margin: 0;
  width: 25%;
}
.sf_2cols_1_33,
.sf_3cols_1_33,
.sf_3cols_3_33 {
  float: left;
  margin: 0;
  width: 33%;
}
.sf_2cols_1_50,
.sf_3cols_2_50 {
  float: left;
  margin: 0;
  width: 50%;
}
.sf_2cols_1_67 {
  float: left;
  margin: 0;
  width: 67%;
}
.sf_2cols_1_75 {
  float: left;
  margin: 0;
  width: 75%;
}
.sf_2cols_2_33 {
  float: right;
  margin: 0;
  width: 33%;
}
.sf_2cols_2_50 {
  float: right;
  margin: 0;
  width: 50%;
}
.sf_2cols_2_67 {
  float: right;
  margin: 0;
  width: 67%;
}
.sf_2cols_2_75 {
  float: right;
  margin: 0;
  width: 75%;
}
.sf_3cols_2_34 {
  float: left;
  margin: 0;
  width: 34%;
}
.sf_5cols_1_20,
.sf_5cols_2_20,
.sf_5cols_3_20,
.sf_5cols_4_20,
.sf_5cols_5_20 {
  float: left;
  margin: 0;
  width: 20%;
}
.sf_2cols_2_25 .sf_2cols_2in_25,
.sf_2cols_2_33 .sf_2cols_2in_33,
.sf_2cols_2_50 .sf_2cols_2in_50,
.sf_2cols_2_67 .sf_2cols_2in_67,
.sf_2cols_2_75 .sf_2cols_2in_75,
.sf_3cols_2_34 .sf_3cols_2in_34,
.sf_3cols_3_33 .sf_3cols_3in_33,
.sf_3cols_2_50 .sf_3cols_2in_50,
.sf_3cols_3_25 .sf_3cols_3in_25,
.sf_4cols_2_25 .sf_4cols_2in_25,
.sf_4cols_3_25 .sf_4cols_3in_25,
.sf_4cols_4_25 .sf_4cols_4in_25,
.sf_5cols_2_20 .sf_5cols_2in_20,
.sf_5cols_3_20 .sf_5cols_3in_20,
.sf_5cols_4_20 .sf_5cols_4in_20,
.sf_5cols_5_20 .sf_5cols_5in_20 {
  margin-left: 12px;
}
.sf_block {
  display: block;
}
.sf_cols {
  clear: both;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  _width: auto;
}
.sf_cols:after {
  clear: both;
  content: "";
  display: block;
  font-size: 1px;
  height: 0;
  visibility: hidden;
}
.sfClearfix:after {
  clear: both;
  content: "";
  display: block;
  font-size: 1px;
  height: 0;
  visibility: hidden;
}
/* ============================================================================ */

/*#endregion */

/*#region hacks & compatibility breakers */

/* ============================================================================ */

* audio,
canvas,
video {
  *display: inline;
  *zoom: 1;
}
* legend {
  *margin-left: -7px;
}
* button,
input,
select,
textarea {
  *vertical-align: middle;
}
* button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  *overflow: visible;
}
* input[type="checkbox"],
input[type="radio"] {
  *width: 13px;
  *height: 13px;
}
* html .sfClearfix {
  *height: 1%;
}
* .ir {
  *line-height: 0;
}
* .clearfix {
  *zoom: 1;
}
* .sf_colsOut + .sf_colsOut {
  *margin-left: -1px !important;
}
* html .sf_cols {
  *display: block;
}
* html .sf_cols .sf_colsOut {
  *display: inline;
}
* .sf_colsOut + .sf_colsOut {
  *margin-left: -1px !important;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
pre {
  word-wrap: break-word;
}
::-moz-selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}
/* ============================================================================ */

/*#endregion */

/* ============================================================================ */

.sfimageWrp {
  overflow-x: hidden;
}
.sfimageWrp img,
.sfContentBlock img {
  width: auto;
  max-width: 100%;
  height: auto;
}
