/*!
 * ============================================================================ 
 * SF|Boilerplated based on H5BP v4.2.0 | sfproject.less
 * ============================================================================ 
 */
/* #region less variables and mixins */
/*  -----------------------------------------------------------------------*/
/*  ------------------------------------------------------------------------*/
/* #endregion */
/*  ------------------------------------------------------------------------*/
/* #region Vertical rhythm */
/*  ------------------------------------------------------------------------*/
.sfPublicWrapper {
  color: #222222;
  font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
.sfPublicWrapper h1 {
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  margin-bottom: 6px;
  margin-top: 12px;
}
.sfPublicWrapper h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  margin-bottom: 6px;
  margin-top: 12px;
}
.sfPublicWrapper h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 36px;
  margin-bottom: 6px;
  margin-top: 12px;
}
.sfPublicWrapper h4 {
  font-size: 15px;
  font-weight: normal;
  line-height: 36px;
  margin-top: 18px;
}
.sfPublicWrapper h5 {
  font-size: 12px;
  font-weight: normal;
  line-height: 36px;
  margin-top: 18px;
}
.sfPublicWrapper h6 {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  margin-top: 18px;
}
.sfPublicWrapper p,
.sfPublicWrapper ul,
.sfPublicWrapper blockquote {
  margin-bottom: 18px;
}
.sfPublicWrapper a,
.sfPublicWrapper a:active,
.sfPublicWrapper a:hover,
.sfPublicWrapper a:visited {
  color: #105cb6;
}
/*  ------------------------------------------------------------------------*/
/* #endregion */
/*  ------------------------------------------------------------------------*/
/* #region Project stylesheet */
/*  ------------------------------------------------------------------------*/
html {
  background: #f2f2f2;
}
html,
body,
form {
  display: block;
  float: left;
  margin: 0 auto;
  width: 100%;
}
#PublicWrapper {
  display: block;
  margin: 0 auto;
  min-width: 960px;
  max-width: 960px;
  background: #ffffff;
}
/*  ------------------------------------------------------------------------*/
/* #endregion */
/*  ------------------------------------------------------------------------*/
